.register-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

    h2 {
        margin-bottom: 15px;
    }

    .register-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

