.edit-dialog-container {
  direction: rtl;
  padding: 5px 10px;

  div {
    margin-bottom: 15px;

    label {
      select:nth-of-type(1) {
        margin-inline-start: 5px;
      }
    }
  }

  .action-container {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 5px 10px;
      border-radius: 4px;
      border: 1px solid black;
      font-size: 14px;
      background-color: #ff8b8bcc;
      cursor: pointer;

      :hover {
        background-color: red;
      }
    }

  }
}
