.foul-dialog-container {
  font-size: 14px;

  .foul-dialog-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    p {
      font-size: 18px;
      font-weight: 500;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  span {
    display: inline-block;
    margin: 10px 7px 0 0;
  }

  .action-container {
    display: flex;
    justify-content: center;
    padding: 25px 0 5px 0;

    button {
      border-radius: 25px;
      padding: 5px 25px;
      font-size: 14px;
      color: #fefefe;
      cursor: pointer;
    }
  }
}


