.player {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #282c34;
  color: #fefefe;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  float: left;
}
