body {
  font-family: "Roboto Thin", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
//  html {
//    transform: rotate(-90deg);
//    transform-origin: left top;
//    width: 100vh;
//    height: 100vw;
//    overflow-x: hidden;
//    position: absolute;
//    top: 100%;
//    left: 0;
//  }
//}
