.actions-menu-container {
    position: fixed;
    bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
}

.plus {
    position: absolute;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    transform: translateX(0) rotate(0deg);
    transition: all 400ms ease-in-out;

    &.open {
        transform: translateX(-350px) rotate(-900deg);
        background-color: #ccc;
    }
}

.actions-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 0;
    opacity: 0;
    background-color: #fefefe;
    border-radius: 25px;
    padding: 7px 0;
    transition: all 400ms ease-in-out;

    &.open {
        width: 42.5vw;
        opacity: 1;
    }
}


.menu-button {
    background: none;
    border: none;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
